name: build
on:
  pull_request:
  push:
    branches: [master]
    tags:
      - .*

jobs:
  build_test_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: latest

      - run: npm ci

      - run: npm test

      - name: publish to npmjs
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          # dry run if on a side branch
          dry-run: ${{ github.ref != 'refs/heads/master' }}
          # don't try and deploy if versions haven't changed
          check-version: true

      - name: publish report
        if: ${{ !steps.publish.outputs.dry-run }}
        run: |
          if [ ${{ !steps.publish.outputs.old-version }} ]; then
            echo "No version change - publishing skipped"
          
          elif [ ${{ steps.publish.outputs.dry-run }} ]; then
              echo "Running on master would change version from  ${{ steps.publish.outputs.old-version }} to ${{ steps.publish.outputs.version }}"
          
          else
              echo "Version changed from ${{ steps.publish.outputs.old-version }} to ${{ steps.publish.outputs.version }}"
          fi